@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    background-color: #121212;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #130026;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #333;
}

label {
    margin: 5px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

p {
    font-size: 1rem;
}

button {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: orange;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

button:hover {
    background:orangered;
}

button:disabled {
    background: silver;
}

img {
    width: 100%;
}

aside {
    width: 320px;
    background: #FFF;
    box-shadow:  0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
    margin-top: 20px;
}

strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

aside img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-left: 113px;
}
