li.turmas {
    background: #FFF;
    box-shadow:  0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

li.turmas header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.turmas header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;

}

li.turmas header .turma-info {
    margin-left: 10px;
}

.turma-info strong {
    width: 100%;
    display: block;
    font-size:  16px;
    color: #333;
    text-align: start;
}

.turma-info span {
    font-size: 13px;
    color: rgb(120, 120, 120);
    margin-top: 2px;
}

li.turmas p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

button.teamAcess {
    height: 30px;
    width: 40%;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 8px;
    background-color: grey;

}